@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="PageTitle">Welcome, @ViewData["UserName"]!</h1>



<div class="col-sm-6">
    <h3>Number of members currently: @ViewData["NumOfMember"]</h3>
</div>



<table class="table-bordered">
    <tr>
        <th>Benefits of a Member</th>
    </tr>
    <tr>
        <td>Enjoy 10% discount for each purchase</td>
    </tr>
    <tr>
        <td>Enjoy birthday discount on their birthday month</td>
    </tr>
    <tr>
        <td>Able to post their feedback to us on how we can improve our services</td>
    </tr>
</table>



<table class="table-bordered">
    <tr>
        <th>Type of Vouchers</th>
    </tr>
    <tr>
        <td>$20</td>
    </tr>
    <tr>
        <td>$40</td>
    </tr>
    <tr>
        <td>$80</td>
    </tr>
    <tr>
        <td>$160</td>
    </tr>
</table>



<table class="table-bordered">
    <tr>
        <th>Requirements for each voucher</th>
    </tr>
    <tr>
        <td>($20 Voucher) Have a monthly expenditure of $200.00 - $499.99</td>
    </tr>
    <tr>
        <td>($40 Voucher) Have a monthly expenditure of $500.00 - $999.99</td>
    </tr>
    <tr>
        <td>($80 Voucher) Have a monthly expenditure of $1,000.00 - $1,499.99</td>
    </tr>
    <tr>
        <td>($160 Voucher) Have a monthly expenditure of $1,500.00 and above</td>
    </tr>
</table>
