@model IEnumerable<WEB2022APR_P05_T2.Models.Feedback>
@{
    ViewData["Title"] = "View Feedback";
}
<h4 class="PageTitle">View Feedback</h4>

<partial name="~/Views/Marketing/_ViewFeedback.cshtml" model="@Model" />
